extends ../../layouts/default.pug
include ../../mixins/alert.pug

block main 
    +alert-error(5000)
    .main
        h1.mb-4 Tạo mới tài khoản
        .form-create-product
            form(
                action=`/${prefixAdmin}/accounts/create`, 
                method="POST"
                id="form-create-product"
                class ="form-create-product"
                enctype="multipart/form-data"
                ) 
                div(class="mb-3") 
                    label(for="title" class="form-label") Họ tên *
                    input(type="text" class="form-control" id="title" name="fullName" require)
                div(class="mb-3") 
                    label(for="title" class="form-label") Email *
                    input(type="text" class="form-control" id="title" name="email" require)
                div(class="mb-3") 
                    label(for="title" class="form-label") Password *
                    input(type="password" class="form-control" id="title" name="password" require)
                div(class="mb-3") 
                    label(for="title" class="form-label") Số điện thoại 
                    input(type="phone" class="form-control" id="title" name="phone")
                    
        
                div(class="mb-3" upload) 
                    label(for="thumbnail" class="form-label") Avatar             
                    input(type="file" class="form-control-file" id="thumbnail" name="avatar" accept="image/*" upload-input)   
                    img(src="" style="width:80px, height:80px" upload-image)
                div(class="mb-3") 
                    label(for="role_id" class="form-label") Phân quyền
                    select(name="role_id" id="role_id" class="form-control")
                        option(value="") --Chọn---   
                        each item in roles 
                            option(value=item.id) #{item.title}
                
                p(class="lable-status") Trạng thái       
                div(class="mb-3 form-check status" ) 
                    label(for="active" class="form-label") Hoạt động
                    input(type="radio" class="form-check-input" id="active" name="status" checked value="active")   
                div(class="mb-3 form-check status")
                    label(for="inactive" class="form-label") Ngưng hoạt động
                    input(type="radio" class="form-check-input" id="inactive" name="status" value="inactive")          
                
                div(class="mb-3") 
                    button(type="submit" class="btn btn-info") Tạo mới
                